nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: #F3F6F4;
  text-transform: uppercase;
  font-size: 14px;
  padding: 24px;
  transition: all 250ms linear 0s;
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15);
}