.product {
  background-color: #141414;
  display: flex;
  flex-direction: row;
}

.product-profile {
  min-height: 100vh;
  padding: 3em 6em 0 2em;
  background-color: #222;
}

.product-profile span {
  color: #F1F3F6;
  font-size: 14px;
  opacity: 0.5;
}

.product-profile h1 {
  font-size: 13px;
  margin: 4px 0 10px 0;
  padding: .85em;
  color: #5CA2D5;
  background-color: #000000;
}

.product-profile img {
  width: 195px;
  height: 195px;
  border-radius: 5px;
  margin: 0 0 20px 40px;
}

.btn-back p a {
  font-size: 21px;
  color: #F1F3F6;
}

.main {
  padding: 2em;
  width: 80%;
}

.main-content {
  margin-top: 30px;
}

.main-content h1 {
  color: #5CA2D5;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
}

.main-content h3 {
  color: #FFFFFF;
  font-size: 21px;
}

.main-form {
  padding: .75em;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.main-form form {
  max-width: 175px;
  margin: 30px;
  border-radius: 5px;
}

.main-form label {
  color: #A0A0A0;
  font-size: 16px;
}

.main-form form input {
  background-color: #F1F3F6;
  min-width: 245px;
  border-radius: 5px;
  border: 0;
  padding: 1em;
  margin-bottom: 10px;
  font-size: 14px;
}

.main-form form input:hover {
  border: 1px solid #F94545;
}

.main-form img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

.btn-product {
  margin-top: 20px;
  text-align: center;
}

.btn-product input {
  padding: 1em;
  background-color: #5CA2D5;
  border: 0;
  border-radius: 5px;
  color: #F1F3F6;
  font-size: 14px;
}