.product-container {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-container .product-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-cards {
  width: 50%;
  height: 100vh;
  padding: 20px 30px 30px 30px;
}

.product-card {
  height: 87vh;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #F1F3F6;
}

.product-card h1 {
  color: #0D558A;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-card input {
  outline: 0;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
}

.product-card input:focus {
  border: 1px solid #0D558A;
}

.card-content {
  display: flex;
  padding: 14px;
  background-color: #FFFFFF;
}

.card-content ul {
  padding-left: 30px;
}

.card-content ul li {
  margin-top: 10px;
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}

.card-content ul p {
  text-align: left;
  color: #0D558A;
  font-size: 20px;
  font-weight: bold;
}

.card-content ul select {
  margin-top: 10px;
  background-color: #F1F3F6;
}



.product-inffo {
  background-color: #F1F3F6;
  height: 100vh;
  width: 50%;
  padding: 30px;
}

.product-inffo h1 {
  color: #0D558A;
  font-size: 28px;
}

.product-inffo h3 {
  text-align: right;
  margin-top: -30px;
}

.product-inffo h3 a {
  color: #F94545;
  font-size: 14px;
  opacity: 0.5;
}

button {
  display: inline-block;
  padding: 1em 4em;
  background-color: #5CA2D5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  margin-top: 20px;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.btn {
  text-align: center;
  margin-bottom: 30px;
}

.button {
  padding: 1em 7em;
  background-color: #91CCF4;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
  margin-top: 20px;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.inffo-card {
  display: flex;
  margin-top: 20px;
  text-align: left;
  padding: 14px;
  background-color: #FFFFFF;
}

.inffo-card ul {
  padding-left: 30px;
}

.inffo-card ul li {
  margin-top: 10px;
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}

.inffo-card ul p {
  text-align: left;
  color: #0D558A;
  font-size: 14px;
  font-weight: bold;
}

.inffo-card img {
  height: 125px;
  width: 125px;
  border-radius: 5px;
}