.searchButton {
  padding: .60em;
  border: 0;
  border-radius: 5px;
  color: #FFFFFF;
  background: #91CCF4;
  cursor: pointer;
}

input {
  outline: 0;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
}