.product-one {
  background-color: #141414;
  display: flex;
  flex-direction: row;
}

.product-profile-one {
  min-height: 100vh;
  padding: 3em 6em 0 2em;
  background-color: #222;
}

.product-content-one {
  margin-bottom: 255px;
}

.product-content-one span {
  color: #F1F3F6;
  font-size: 14px;
  opacity: 0.5;
}

.product-content-one h1 {
  font-size: 12px;
  margin-top: 8px;
  padding: .75em;
  color: #5CA2D5;
  background-color: #000000;
}

.product-content-one p {
  margin-top: 10px;
  font-size: 11px;
  color: #F1F3F6;
}

.product-content-one img {
  width: 125px;
  height: 125px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.btn-out {
  margin-left: 30px;
  background-color: #F94545;
  padding: .75em;
  border-radius: 5px;
}

.btn-out a {
  color: #FFFFFF;
  font-size: 16px;
}

.main-one {
  padding: 3em;
  width: 80%;
}

.main-content-one {
  margin-top: 30px;
  margin-bottom: 20px;
}

.main-content-one h1 {
  color: #5CA2D5;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
}

.main-content-one h3 {
  color: #FFFFFF;
  font-size: 21px;
}

.main-description {
  border-radius: 5px;
  background-color: #FFFFFF;
  width: 80%;
}

.main-card {
  padding: .75em;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.main-card ul {
  display: block;
  margin-left: 40px;
}

.main-card ul li {
  color: #A0A0A0;
  font-size: 14px;
  margin-bottom: 2px;
}

.main-card ul p {
  color: #141414;
  font-size: 15px;
  margin-bottom: 5px;
}

.main-description img {
  height: 125px;
  width: 125px;
  border-radius: 5px;
}

.btn-validate {
  text-align: right;
  margin-right: 20px;
}

.btn-validate input {
  padding: .25em;
  margin-bottom: 5px;
  border: 0;
  background-color: #5CA2D5;
  min-width: 95px;
  border-radius: 4px;
  color: #FFFFFF;
  font-size: 18px;
}