.dashboardContainer {
  display: flex;
  justify-content: space-around;
}

.dashboardWelcome {
  text-align: center;
  padding: 4em;
}

.dashboardWelcome h1 {
  margin-top: 20px;
  color: #5CA2D5;
  font-size: 50px;
  font-weight: bold;
}

.dashboardWelcome h2 {
  color: #5CA2D5;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 20px;
}

.dashboardWelcome p {
  color: #141414;
  font-size: 21px;
  margin-bottom: 30px;
}

.dashboardWelcome .profileBtn {
  padding: 1em;
  border-radius: 5px;
  background-color: #5CA2D5;
  color: #FFFFFF;
  font-size: 18px;
}