.dash-content {
  display: flex;
  flex-direction: row;
}

.dashgrid {
  width: 50%;
}

.dashflex {
  padding: 2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashflex .profile {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  margin: 0 10px;
}

.dashgray {
  background-color: #F1F3F6;
}

.shopping {
  background-color: #5CA2D5;
  padding: 1em;
  border-radius: 10px;
  max-width: 15em;
  text-align: center;
}

.shopping h1 {
  color: #FFFFFF;
  font-size: 21px;
  font-weight: bold;
}

.shopping-icon {
  color: #FFFFFF;
  font-size: 75px;
}

.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  color: #A0A0A0;
  opacity: 0.5;
}

.notification-card {
  background-color: #F1F3F6;
  padding: 1em;
  border-radius: 10px;
  max-width: 15em;
  margin-top: 10px;
}

.notification-card span {
  color: #91CCF4;
  font-size: 14px;
}

.notification-card p {
  color: #0D55BA;
  font-size: 18px;
  margin-top: 10px;
}

.notification-card:hover {
  background-color: #5CA2D5;
}

.notification .chevron {
  margin-right: 155px;
}

.dash h1 {
  color: #0D55BA;
  font-size: 37px;
  font-weight: bold;
}

.dash h3 {
  color: #141414;
  font-size: 18px;
}

.dash ul {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.dash ul li {
  padding: .65em;
  background-color: #F1F3F6;
  border-radius: 5px;
  margin-right: 20px;
}

.dash ul li:hover {
  background-color: #5CA2D5;
}

.dash ul li a {
  color: #91CCF4;
  font-size: 14px;
}

.dash-card {
  background-color: #F1F3F6;
  padding: 1em;
  border-radius: 10px;
  max-width: 25em;
  margin-top: 10px;
}

.dash-card span {
  color: #A0A0A0;
  font-size: 14px;
}

.dash-card p {
  margin-bottom: 10px;
  color: #141414;
  font-weight: bold;
  font-size: 16px;
}

.dash-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 195px;
  color: #141414;
  margin-bottom: 40px;
}

.dashgray h2 {
  color: #0D55BA;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 10px;
}

.dashgray h4 {
  color: #0D55BA;
  opacity: 0.5;
  font-size: 16px;
  margin-bottom: 20px;
}

.dash-info {
  background-color: #FFFFFF;
  padding: 1em;
  max-width: 25em;
  display: flex;
  justify-content: center;
}

.dash-info-card {
  margin: 20px;
  color: #0D55BA;
}

.dash-info-bank {
  margin-top: 20px;
  background-color: #FFFFFF;
  padding: 1em;
  max-width: 25em;
}

.dash-info-bank span {
  color: #5CA2D5;
  opacity: 0.5;
  font-size: 14px;
}

.dash-info-bank p {
  margin-bottom: 10px;
  color: #0D55BA;
}

.btn-out {
  text-align: center;
  margin-top: 30px;
}

.btn-red {
  padding: 1em 4em;
  background-color: #F94545;
  border-radius: 5px;
  border: none;
  max-width: 15em;
  text-align: center;
  cursor: pointer;
  transition: transform ease-in 0.1s,
    box-shadow ease-in 0.25s;
}