.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 90px 0 90px;
}

.banner-content h1 {
  font-size: 57px;
  font-weight: bold;
  line-height: 1.2;
  color: #F9F9F9;
  margin-bottom: 10px;
}

.banner-content p {
  font-weight: 400;
  letter-spacing: 2;
  font-size: 21px;
  line-height: 1.2;
  margin-left: 20px;
  color: #F9F9F9;
}
