.product-three {
  background-color: #141414;
  display: flex;
  flex-direction: row;
}

.product-profile-three {
  min-height: 100vh;
  border-radius: 5px;
  padding: 3em 6em 0 2em;
  background-color: #222222;
}

.product-content-three span {
  color: #F1F3F6;
  font-size: 14px;
  opacity: 0.5;
}

.product-content-three h1 {
  font-size: 12px;
  margin-top: 8px;
  padding: .75em;
  color: #5CA2D5;
  background-color: #000000;
}

.product-content-three p {
  margin-top: 10px;
  font-size: 11px;
  color: #F1F3F6;
}

.product-content-three img {
  width: 155px;
  height: 155px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-menu-three {
  margin-top: 30px;
}

.product-menu-three ul {
  display: block;
}

.product-menu-three ul li {
  margin-top: 10px;
  font-size: 14px;
}

.product-menu-three ul li a {
  color: #F1F3F6;
}

.product-menu-three ul li a:hover {
  color: #5CA2D5;
}

.main-three {
  padding: 2em;
  width: 80%;
}

.main-content-three {
  margin-top: 30px;
}

.main-content-three h1 {
  color: #5CA2D5;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
}

.main-content-three h3 {
  color: #FFFFFF;
  font-size: 21px;
}

.main-product-three {
  height: 45vh;
  text-align: center;
  background-color: #222;
  border-radius: 5px;
  margin-top: 10px;
}

.main-product-three img {
  margin-top: 10px;
  width: 175px;
  height: 175px;
}

.main-product-three p {
  color: #5CA2D5;
  font-size: 28px;
}

.main-search-three {
  text-align: center;
  margin-bottom: 30px;
}

.main-search-three input:first-child {
  padding: 1em;
  min-width: 245px;
  border: 0;
  background-color: #222222;
  border-radius: 5px;
  margin-right: 10px;
  color: #FFFFFF;
}

.main-search-three input:last-child {
  padding: 1em;
  border: 0;
  border-radius: 5px;
  color: #5CA2D5;
  background-color: #FFFFFF;
  cursor: pointer;
}

.btn-product-three {
  margin-top: 20px;
  margin-bottom: 30px;
}

.btn-product-three input {
  padding: 1em;
  background-color: #5CA2D5;
  border: 0;
  border-radius: 5px;
  color: #F1F3F6;
  font-size: 14px;
  cursor: pointer;
}