.productContainer {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productContainer .productContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productCards {
  width: 50%;
  height: 100vh;
  padding: 20px 30px 30px 30px;
}

.productCard {
  height: 87vh;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #F1F3F6;
}

.productCard h1 {
  color: #0D558A;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 20px;
}

.productCard input {
  outline: 0;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  text-align: center;
}

.cardContent {
  display: flex;
  padding: 14px;
  background-color: #FFFFFF;
}

.cardContent ul {
  padding-left: 30px;
}

.cardContent ul li {
  margin-top: 10px;
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}

.cardContent ul p {
  text-align: left;
  color: #0D558A;
  font-size: 20px;
  font-weight: bold;
}

.cardContent ul select {
  margin-top: 10px;
  background-color: #F1F3F6;
}

.productInffo {
  background-color: #F1F3F6;
  height: 100vh;
  width: 50%;
  padding: 30px;
}

.productInffo h1 {
  color: #0D558A;
  font-size: 28px;
}

.productInffo h3 {
  text-align: right;
  margin-top: -30px;
}

.productInffo h3 a {
  color: #F94545;
  font-size: 14px;
  opacity: 0.5;
}

.btn {
  text-align: center;
  margin-bottom: 30px;
}

.inffoCard {
  display: flex;
  margin-top: 20px;
  text-align: left;
  padding: 14px;
  background-color: #FFFFFF;
}

.inffoCard ul {
  padding-left: 30px;
}

.inffoCard ul li {
  margin-top: 10px;
  color: #A0A0A0;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}

.inffoCard ul p {
  text-align: left;
  color: #0D558A;
  font-size: 14px;
  font-weight: bold;
}

.inffoCard img {
  height: 125px;
  width: 125px;
  border-radius: 5px;
}