.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about h1 {
  color: #0D558A;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.2;
}

.about p {
  margin-top: 20px;
  margin-left: 30px;
  padding-right: 180px;
  color: #333;
}

.about .img {
  padding-left: 180px;
  text-align: center;
}